<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Password Store</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/login.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

</head>
<body>
    <div class="container">
        <div class="row row-centered">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form class="form-inline" th:action="@{/login}" method="post">
                <div class="row">
                    <div class="form-group">
                        <label for="username">User Name:</label>
                        <input type="text" id="username" name="username" class="form-control"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>